<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @game.time %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @game.stadium %>
</p>

<p>
  <strong>Attendees:</strong>
  <%= @game.attendees %>
</p>

<p>
  <strong>Home team:</strong>
  <% @teams.each do |team| %>
    <% if @game.home_team == team.id  %>
      <%= link_to team.name , team %>
      <% end %>
  <% end %>
</p>

<p>
  <strong>Away team:</strong>
  <% @teams.each do |team| %>
    <% if @game.away_team == team.id  %>
      <%= link_to team.name , team %>
      <% end %>
  <% end %>
</p>

<p>
  <strong>Round:</strong>
  <%= @game.round %>
</p>

<p>
  <strong>Home team score:</strong>
  <%= @game.home_team_score %>
</p>

<p>
  <strong>Away team score:</strong>
  <%= @game.away_team_score %>
</p>

<p>
  <strong>Ht q1:</strong>
  <%= @game.ht_q1 %>
</p>

<p>
  <strong>Ht q2:</strong>
  <%= @game.ht_q2 %>
</p>

<p>
  <strong>Ht q3:</strong>
  <%= @game.ht_q3 %>
</p>

<p>
  <strong>Ht q4:</strong>
  <%= @game.ht_q4 %>
</p>

<p>
  <strong>At q1:</strong>
  <%= @game.at_q1 %>
</p>

<p>
  <strong>At q2:</strong>
  <%= @game.at_q2 %>
</p>

<p>
  <strong>At q3:</strong>
  <%= @game.at_q3 %>
</p>

<p>
  <strong>At q4:</strong>
  <%= @game.at_q4 %>
</p>

<p>
  <strong>Referee:</strong>
  <%= @game.referee %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
